[general]
APPLYLABEL=true
DEFAULTDIR=
TORRENTFILE_DIR=
LOGPATH=/opt/harpoon/logs
MULTIPLE_SEEDBOXES=false
TORRENTCLIENT=rtorrent
LCMD_PARALLEL=
LCMD_SEGMENTS=

[rtorrent]
RTORR_HOST=
RTORR_PORT=
RTORR_USER=
RTORR_PASSWD=
RPC_URL=
AUTHENTICATION=
SSL=true
VERIFY_SSL=true
STARTONLOAD=true

[sabnzbd]
SAB_ENABLE=false
SAB_URL=
SAB_APIKEY=
SAB_CLEANUP=false

[post-processing]
PP_HOST=
PP_SSHPORT=
PP_USER=
PP_PASSWD=
PP_BASEDIR=

[label_directories]
TVDIR=
MUSICDIR=
MOVIEDIR=
XXXDIR=
COMICSDIR=
BOOKDIR=

[sonarr]
URL=
APIKEY=
SONARR_LABEL=

[sickrage]
URL=
APIKEY=
DELETE=
FORCE_REPLACE=
FORCE_NEXT=
PROCESS_METHOD=
IS_PRIORITY=
FAILED=
TYPE=
SICKRAGE_LABEL=

[radarr]
URL=
APIKEY=
RADARR_LABEL=
KEEP_ORIGINAL_FOLDERNAMES=false

[mylar]
URL=
APIKEY=
MYLAR_LABEL=

[lidarr]
URL=
APIKEY=
LIDARR_LABEL=

[lazylibrarian]
URL=
APIKEY=
LAZYLIBRARIAN_LABEL=

[plex]
PLEX_UPDATE=true
PLEX_HOST_IP=http://127.0.0.1
PLEX_HOST_PORT=32400
PLEX_LOGIN=
PLEX_PASSWORD=
PLEX_TOKEN=
